
<div class="d-flex  justify-content-center align-items-center">
  <form [formGroup]="form" class="form-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">



   <div class="">


     <mat-form-field appearance="outline" fxFlex>
       <mat-label>Title</mat-label>
       <mat-icon matPrefix>title</mat-icon>
       <input matInput type="text" formControlName="title">
     </mat-form-field>

     <mat-form-field  appearance="outline" fxFlex>
       <mat-label>Descr</mat-label>
       <mat-icon matPrefix>Descr</mat-icon>
       <input matInput type="text" formControlName="descr">
     </mat-form-field>


   </div>


<div>


  <mat-form-field  appearance="outline" fxFlex>
    <mat-label>MetaKeyword</mat-label>
    <mat-icon matPrefix>metaKeyword</mat-icon>
    <input matInput type="text" formControlName="metaKeyword">
  </mat-form-field>

  <mat-form-field  appearance="outline" fxFlex>
    <mat-label>MetaDescr</mat-label>
    <mat-icon matPrefix>meta</mat-icon>
    <input matInput type="text" formControlName="metaDescr">
  </mat-form-field>



</div>


    <div>

      <mat-form-field  appearance="outline" fxFlex>
        <mat-label>MetaAuthor</mat-label>
        <mat-icon matPrefix>metaAuthor</mat-icon>
        <input matInput type="text" formControlName="metaAuthor" placeholder="metaAuthor">
      </mat-form-field>


    </div>


      <mat-label>Upload File</mat-label>
      <mat-icon matPrefix>attach_file</mat-icon>
      <input (change)="selectImage($event)" type="file"  multiple   placeholder="img">

    <div style="background-color: #ccc;" *ngIf="data">
      <img *ngIf="data.img" [src]="data.img" width="100px" height="60px" alt="category image">
    </div>






    <p><mat-checkbox formControlName="isFavorite">isFavorite</mat-checkbox></p>
    <button mat-raised-button color="primary" (click)="submit()">{{ data ? 'edit' : 'add' }}</button>

  </form>
</div>
