
<div class="d-flex  justify-content-center align-items-center">
  <form [formGroup]="form" class="form-container" >



   <div class="">


     <mat-form-field appearance="outline" >
       <mat-label>Title</mat-label>
       <mat-icon matPrefix>title</mat-icon>
       <input matInput type="text" formControlName="title" required>
     </mat-form-field>

     <mat-form-field  appearance="outline" >
       <mat-label>Descr</mat-label>
       <mat-icon matPrefix>Descr</mat-icon>
       <input matInput type="text" formControlName="descr" required>
     </mat-form-field>


   </div>


<div>


  <mat-form-field  appearance="outline" >
    <mat-label>MetaKeyword</mat-label>
    <mat-icon matPrefix>metaKeyword</mat-icon>
    <input matInput type="text" formControlName="metaKeyword" required>
  </mat-form-field>

  <mat-form-field  appearance="outline" >
    <mat-label>MetaDescr</mat-label>
    <mat-icon matPrefix>meta</mat-icon>
    <input matInput type="text" formControlName="metaDescr" required>
  </mat-form-field>



</div>


    <div>

      <mat-form-field  appearance="outline" >
        <mat-label>MetaAuthor</mat-label>
        <mat-icon matPrefix>metaAuthor</mat-icon>
        <input matInput type="text" formControlName="metaAuthor" placeholder="metaAuthor" required>
      </mat-form-field>


    </div>


      <mat-label>Upload File</mat-label>
      <mat-icon matPrefix>attach_file</mat-icon>
      <input (change)="selectImage($event)" type="file"  multiple   placeholder="img" required>

    <div style="background-color: #ccc;" *ngIf="data">
      <img *ngIf="data.img" [src]="data.img" width="100px" height="60px" alt="category image">
    </div>






    <p><mat-checkbox formControlName="isFavorite" required>isFavorite</mat-checkbox></p>
    <button type="button" [disabled]="form.invalid" mat-raised-button color="primary" (click)="submit()">{{ data ? 'edit' : 'add' }}</button>

  </form>

</div>
