<div   class="d-flex justify-content-center mb-2">

  <button routerLink="/admin-pg/admin-pg" type="button" class="btn btn-outline-primary ms-1">add Blog</button>
  <button routerLink="/admin-pg/categories" type="button" class="btn btn-outline-primary ms-1">add Categories</button>
  <button routerLink="/admin-pg/tags" type="button" class="btn btn-outline-primary ms-1">add Tags</button>
  <button routerLink="/admin-pg/quiz" type="button" class="btn btn-outline-primary ms-1">add Quiz</button>

</div>
