
<div  >
  <form   class="form-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" [formGroup]="form" >
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <mat-form-field  appearance="outline" fxFlex>
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field  appearance="outline" fxFlex>
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <button (click)="login()  " mat-raised-button color="primary" type="submit" >    Login </button>
  </form>
</div>
