

<div class="d-flex  justify-content-center align-items-center">

  <form [formGroup]="form" class="form-container">

    <h1>Add Quiz</h1>

    <div class="">


      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <mat-icon matPrefix>title</mat-icon>
        <input matInput type="text" formControlName="title" required>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>smallDescr</mat-label>
        <mat-icon matPrefix>smallDescr</mat-icon>
        <input matInput type="text" formControlName="smallDescr" required>
      </mat-form-field>


    </div>


    <div>


      <mat-form-field  appearance="outline">
        <mat-label>description</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <input matInput type="text" formControlName="descr" required>
      </mat-form-field>




    </div>
<div class="quiz-buttons">


  <button mat-raised-button  (click)="addAnswersDialog()">{{ quizId ? 'edit' : 'add' }} question</button>





  <div *ngFor="let question of questions; let i = index">
    <h5>{{question.question}}</h5>

    <div class="options" [class.correct]="answer.isCorrect" *ngFor="let answer of question.answers">
      {{answer.answer}}
    </div>


    <button mat-raised-button color="warn" (click)="edit(question, i)">edit</button>
  </div>




</div>

    <button  [disabled]="form.invalid" mat-raised-button color="primary" (click)="addQuiz()">{{ quizId ? 'edit' : 'add' }}</button>

  </form>

</div>
